.search-btn {
  padding-top: 47px;
  padding-left: 0;
}

.form-group {
	margin-bottom: 0;
}

.form-group.col-xs-2.col-md-2 {
	padding-left: 0;
	padding-right: 20px;
}

.category-select {
	padding-right: 20px;
	margin-top: 20px;
}

@media (min-width: 454px) {
  .search-btn {
  padding-top: 28px;
  padding-left: 0;

}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }