

.container-fluid .jumbotron {
	margin-top: -20px;
	background-image: none;
	background-repeat: no-repeat;
	background-color: transparent;
	border-radius: 1px;
}

.container .jumbotron .label {
	font-size: 10px;
}

h1 {
	font-size: 24px;
}


.splash_text_bg {
	opacity: .9;
	padding: 20px;
	background-color: #3399CC;
	color: #FFF;
}


.form-group {
	margin-bottom: 0;
	/*border: groove #FFF 1px;*/
	/*background-color: #66ccff;*/
	padding: 10px;
	
}

.category-select {
	padding-right: 20px;
	margin-top: 20px;
}

@media (min-width: 454px) {
  .search-btn {
  padding-top: 28px;
  padding-left: 0;

}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.container .jumbotron .label {
		font-size: 24.5px;
	}
}

@media (min-width: 768px) { 
h1 {
	font-size: 44px;
}
}
@media (min-width: 768px) { 
.container-fluid .jumbotron {
	margin-top: -20px;
	width: 100%;
	background-size: 100%;
	background-image: url('/images/teen_producers.jpg');
	background-repeat: no-repeat;
	background-color: transparent;
	border-radius: 1px;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }