

.container-fluid .jumbotron {
	margin-top: -20px;
	/*width: 100%;
	height: 100%;
	background-size: 100%;
	background-image: url('/images/BAYP_main_oakland.jpg');*/
	background-repeat: no-repeat;
	background-color: transparent;
	border-radius: 1px;
}

.container .jumbotron .label {
	font-size: 10px;
}

.header_text_bg {
	background-color: #FFF;
}
.form-group {
	margin-bottom: 0;
}

.form-group.col-xs-2.col-md-2 {
	padding-left: 0;
	padding-right: 20px;
}

.category-select {
	padding-right: 20px;
	margin-top: 20px;
}

@media (min-width: 454px) {
  .search-btn {
  padding-top: 28px;
  padding-left: 0;

}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.container .jumbotron .label {
		font-size: 24.5px;
	}
}

@media (min-width: 768px) { 
	.container-fluid .jumbotron {
		margin-top: -20px;
		width: 100%;
		height: 100%;	
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }