form#login {
	padding-right: 20px;
}
#login-btn {
	padding-top: 26px;
}

.row.password {
	padding-right: 20px;
	margin-top: 20px;
}

.row.password div {
	padding-right: 5px;
}

.row.username div {
	padding-right: 0;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }