
.profile .header {
	margin-bottom: 20px;
}

.profile p {
	font-size: 17.5px;
}

.profile p span {
	/*color: #08ABCC;*/
	font-weight: bold;
	text-transform: uppercase;
}

.profile p .label {
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 6px;
	font-size: 60%;
	color: white;
}

.profile .interests {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #e1e1e1;
}

.profile .interests .label {
	background-color: #999;
}

.profile .pic {
	padding-bottom: 20px;
}
.profile .pic img {
	max-height: 225px;
	min-height: 225px;
	border-radius: 6px;
}

.saved h1.empty {
	color: #999;
	font-weight: normal;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
    .navbar-right {
    text-align: left;
  }
}