$def with (header, footer)
$:header

<div class='container about'>
	<div class='row'>
		<div class='col-md-10 col-offset-1 col-xs-12'>
			<h1>About Bay-P</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dolor est, scelerisque sed lacinia vel, aliquam et est. Cras in ante vel libero mattis congue quis vel mauris. Curabitur sapien nunc, vulputate sit amet ornare in, eleifend eget felis. In hac habitasse platea dictumst. Integer eu quam a lorem faucibus venenatis. Pellentesque lobortis pellentesque nisl. Donec id congue quam, et egestas dui. Ut eu dui felis. Phasellus vel arcu nunc. Aenean non velit non neque bibendum rhoncus a id ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis sapien nisl, vehicula id augue ut, viverra vehicula augue. Sed nec velit gravida, consequat urna ut, dignissim nibh. Nullam iaculis suscipit enim ut gravida. Donec suscipit augue ac dapibus sodales. Donec hendrerit orci sed nibh pharetra, quis vehicula nibh cursus.</p>

			<p>Pellentesque et odio pulvinar, tincidunt nunc vitae, luctus tortor. Suspendisse semper massa id nisl imperdiet convallis. Nam leo orci, convallis et molestie ut, pretium sed nisi. Maecenas suscipit volutpat venenatis. Nam vestibulum neque eu consequat placerat. Suspendisse pharetra vestibulum eleifend. Quisque pharetra dui in risus tristique, at dignissim metus fermentum.</p>

			<p>Nunc laoreet sem quis leo porta, in sodales dolor rhoncus. Sed ac diam consequat, sagittis velit sagittis, facilisis lorem. Donec porta pharetra nibh, sit amet scelerisque nisi vestibulum quis. Aliquam erat volutpat. Donec a tempus nulla, non elementum metus. Ut in luctus orci, non hendrerit nisi. Maecenas in ipsum dolor. Mauris interdum suscipit nisl, vel suscipit velit interdum nec. Donec dictum posuere odio. Suspendisse quis felis bibendum, sollicitudin erat in, convallis ipsum. Vestibulum egestas elit in eleifend viverra. Aenean ut leo sit amet nunc facilisis consequat.</p>
		</div>
	</div>
</div>


$:footer