$def with (header, footer)
$:header
 <div class="container-fluid">
  <div class="container">
  :before
  <div class="row">
  :before
  <div class="col-xs-6 col-md-4">
    <a href="#">
  		<span>ALL</span>
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#">
  		<span>ART</span>
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#">
  		<span>OUTDOORS</span>
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#">
  		<span>SCIENCE/TECH</span>
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#">
  		<span>SPORTS</span>
    </a>
  </div>
   <div class="col-xs-6 col-md-4">
    <a href="#">
  		<span>COMMUNITY SERVICE</span>
    </a>
  </div>
  
  </div>
  </div>
  </div>

$:footer