$def with (header, footer)
$:header

<div class='container contact'>
	<h1>Contact BAYP</h1>
	<div class='row otech-students'>
		<div class='col-md-10 col-offset-1 col-xs-12'>
			<h2>Oakland Tech Contributors</h2>
			<p>Saleeha</p>
			<p>Lelton</p>
			<p>Andre</p>
			<p>Malik</p>
		</div>
	</div>
	<div class='row grad-students'>
		<div class='col-md-10 col-offset-1 col-xs-12'>
			<h2>U.C. Berkeley Contributors</h2>
			<p>Faith Hutchinson</p>
			<p>Eric Zan</p>
			<p>Jonathan Harper</p>
			<p>Katey Basye</p>
			<p>Eddie Medina</p>
		</div>
	</div>
</div>


$:footer