<html>
  <head>
    <title>Bay Area Youth Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/nav.css" rel="stylesheet" media="screen">
    <link href="css/index.css" rel="stylesheet" media="screen">
    <link href="css/categories.css" rel="stylesheet" media="screen">
    <link href="css/login.css" rel="stylesheet" media="screen">
    <link href="css/listview.css" rel="stylesheet" media="screen">
    <link href="css/programinfo.css" rel="stylesheet" media="screen">
    <link href="css/about.css" rel="stylesheet" media="screen">
  </head>
  
 <body>
    <div>
      <nav id="bayp-navbar" class="navbar navbar-default navbar-static" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BAYP</a>
        </div>
        <div class="collapse navbar-collapse bs-js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/about" id="about" role="button"> About</a>
            </li>
            <li>
              <a href="/contact" id="contact" role="button"> Contact</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
<!--             <li class="dropdown">
              <a id="search" href="#" role="button" class="dropdown-toggle"><span class="glyphicon glyphicon-search"></span> Search <b class="caret"></b></a>
            </li> -->
            <li id="account_menu">
              <a href="/login" id="account" role="button"><span class='glyphicon glyphicon-log-in'></span> Login <!-- <b class="caret"></b> --></a>
              <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="account">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="settings.html"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="saved.html"><span class="glyphicon glyphicon-bookmark"></span> Saved Programs</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul> -->
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </nav> <!-- /navbar-example -->
    </div> <!-- /example -->
