$def with (header, footer)
$:header

<div class="container">

  <div>
    <h1>BAY-P</h1>
    <p class="lead">Connecting Bay Area youth with after school programs.</p>
  </div>
  
<form role="form">
    <fieldset>
    
        <div class="form-group">
        <label class="sr-only" for="mainSearch">Neighborhood Search</label>
            <input type="text" id="mainSearch" class="form-control" placeholder="Enter a neighborhood or zip" >
        </div>
    </fieldset>
<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> GO</button>

</form>

</div><!-- /.container -->

$:footer