$def with (header, footer)
$:header

<div class="container">

  <div>
    <h1>BAY-P</h1>
    <p class="lead">Connecting Bay Area youth with after school programs.</p>
	<p style="margin-top: 120px; margin-bottom: 120px;">Graphics TK</p>
    <form role="form" action="/listviewsearched" method="get">
    <fieldset>
    <div class="row">
    	<div class="col-xs-12 col-md-6">
        <div class="form-group">
        <label class="sr-only" for="main_search">Program</label>
            <input type="text" id="search_program" class="form-control" name="q" placeholder="Program Type?" />
        </div>
        </div>
        
        <div class="col-xs-12 col-md-4">
        <div class="form-group">
        <label class="sr-only" for="main_search">Neighborhood Search</label>
            <input type="text" id="search_location" class="form-control" placeholder="Neighborhood of Zip Code?" />
        </div>
		</div>

   	<div class="col-xs-12 col-md-2">
    <div class="form-group">

	<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> GO</button>
    </div>
	</div>
    
    </fieldset>

</form>

    
</div>

<div class="row">
	<div class="col-xs-12 col-md-4">
  	<h2>Browse <br>Programs</h2>
    <p>Graphics TK</p>
    </div>
    
   	<div class="col-xs-12 col-md-4">
  	<h2>About <br>Bay-P</h2>
    <p>Graphics TK</p>
    </div>
    
    <div class="col-xs-12 col-md-4">
  	<h2>Contact (?)</h2>
    <p>Graphics TK</p>
    </div>

</div><!-- /.container -->

$:footer
