$def with (header, footer)
$:header

<div class="container col-md-10 col-md-offset-1">

    <div class="jumbotron">    
        <div class='row'>
            <h1>BAY-P</h1>
            <p class="lead">Connecting Bay Area youth with after school programs.</p>
        </div>
        <form class='form-inline' role="form" action="/listview" method='get'>
            <fieldset>
                <div class='row'>
                    <div class="form-group col-xs-12 col-md-10">
                        <label for="search_location">Find an after school program in your neighborhood:</label>
                        <input name="zip" type="text" id="search_location" class="form-control" placeholder="Zip Code, ex: 94603" >
                    </div>
                </div>
                <div class='row category-select'>
                    <div class="form-group col-xs-10 col-md-8">
                        <label class="sr-only" for="main_search">Program</label>
                        <select name="cat" class="form-control">
                            <option value="all">Browse by Category</option>
                            <option value="all">All</option>
                            <option value="Arts">Art</option>
                            <option value="Community Service">Community Service</option>
                            <option value="Outdoors">Outdoors</option>
                            <option value="Science">Science</option>
                            <option value="Tech">Technology</option>
                            <option value="Sports">Sports</option>
                            <option value="Theatre">Theatre</option>
                        </select>
                    </div> 
                    <div class='form-group col-xs-2 col-md-2'>
                        <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span> GO</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>


    <div class="row">

       	<div class="col-xs-12 col-md-6">
          	<h2><a href='/about'>About Bay-P</a></h2>
        </div>
        
        <div class="col-xs-12 col-md-6">
          	<h2><a href='/contact'>Contact</a></h2>
        </div>
    </div>

</div><!-- /.container -->

$:footer
