$def with (header, footer, programs, backup_programs, category, zipcode, session, all_programs, not_logged_in)
$:header

<script>
function favorite(id) {
	console.log("favorite?id=" + id);
	$$.get( "favorite?id=" + id );
}
</script>

<div class="container listview">
  <div class="row">
    <div class="col-xs-12 col-md-12">
        <h4><span class='label'>$category</span> programs in <span class='label'>$zipcode</span>.</h4>
    </div><!--program category and zip code header -->
  </div><!-- row -->
 <div style="background-color: #F7F7F7; padding-top: 15px;">
  <div class="row">
    <div class="col-xs-12 col-md-12">
        <ol>
            $for program in programs:

                <li style="border-bottom: groove 1px; padding: 15px 0px;">
                  <h4 class="group inner list-group-item-heading">
                   <a href="programinfo?ind=$program['index']">$program['name']</a>
                  </h4>
                <address><strong>Neighborhood: West Oakland<br>$program['address']<br />
								Nearest High School: $all_programs[int(program['index'])]['school']</strong></address>
								
                <ul class="list-inline">
                  <li><a href="programinfo.html">
										<!--<span class="glyphicon glyphicon-usd"></span> --> Price: $$$all_programs[int(program['index'])]['cost'] </a></li>
		  <li><small><span class="glyphicon glyphicon-calendar">: $all_programs[int(program['index'])]['time']
                                </span></small></li>

                  <!-- Saving Program -->
                  $if session == 'anonymous':
                      <li class='bookmark'>
                        <a href='#' onclick="favorite($program['index'])" class='bookmark' data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-bookmark"></span>
                          Save Program
                        </a>
                      </li>
                      $:not_logged_in
                  $else:
                      <li class='bookmark'>
                        <a href='#' onclick="favorite($program['index'])" class='bookmark' data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-bookmark"></span>
                          Save Program
                        </a>
                      </li>
                      <li class='success'>Success!</li>
                  <!-- End Saving Program -->
                  
                </ul>
                <!-- Recommend Program -->
                  $if session == 'anonymous': 
                      <span data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-thumbs-up recommend"></span>
                      <small> <span class='rec_num'>$all_programs[int(program['index'])]['likes']</span> Recommend This</small>
                      $:not_logged_in
                  $else:
                      <span class="glyphicon glyphicon-thumbs-up recommend"></span>
                      <small> <span class='rec_num'>$all_programs[int(program['index'])]['likes']</span> Recommend This</small>
                      <span class='success'>+ 1!</span>
                  <!-- End Recommend Program -->
          </li>
        </ol><!-- end ordered list-->
    </div><!-- program results -->
  </div><!-- row -->
 </div><!--results div stlye -->
</div><!-- container -->

<div class="container listview">
  <div class="row">
    <div class="col-xs-12 col-md-12">
        <h4>Other programs that may be related to your search.</h4>
    </div><!--program category and zip code header -->
  </div><!-- row -->
 <div style="background-color: #F7F7F7; padding-top: 15px;">
  <div class="row">
    <div class="col-xs-12 col-md-12">
        <ol>
            $for program in backup_programs:

                <li style="border-bottom: groove 1px; padding: 15px 0px;">
                  <h4 class="group inner list-group-item-heading">
                   <a href="programinfo?ind=$program['index']">$program['name']</a>
                  </h4>
                <address><strong>Neighborhood: West Oakland<br>$program['address']<br />
								Nearest High School: $all_programs[int(program['index'])]['school']</strong></address>
								
                <ul class="list-inline">
                  <li><a href="programinfo.html">
										<!--<span class="glyphicon glyphicon-usd"></span> --> Price: $$$all_programs[int(program['index'])]['cost'] </a></li>
		  <li><small><span class="glyphicon glyphicon-calendar">: $all_programs[int(program['index'])]['time']
                                </span></small></li>

                <!-- Saving Program -->
                  $if session == 'anonymous':
                      <li class='bookmark'>
                        <a href='#' onclick="favorite($program['index'])" class='bookmark' data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-bookmark"></span>
                          Save Program
                        </a>
                      </li>
                      $:not_logged_in
                  $else:
                      <li class='bookmark'>
                        <a href='#' onclick="favorite($program['index'])" class='bookmark' data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-bookmark"></span>
                          Save Program
                        </a>
                      </li>
                      <li class='success'>Success!</li>
                  <!-- End Saving Program -->
                  
                </ul>
                <!-- Recommend Program -->
                  $if session == 'anonymous': 
                      <span data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-thumbs-up recommend"></span>
                      <small> <span class='rec_num'>$all_programs[int(program['index'])]['likes']</span> Recommend This</small>
                      $:not_logged_in
                  $else:
                      <span class="glyphicon glyphicon-thumbs-up recommend"></span>
                      <small> <span class='rec_num'>$all_programs[int(program['index'])]['likes']</span> Recommend This</small>
                      <span class='success'>+ 1!</span>
                <!-- End Recommend Program -->

            </li>
        </ol><!-- end ordered list-->
    </div><!-- program results -->
  </div><!-- row -->
 </div><!--results div stlye -->
</div><!-- container -->
$:footer