    <form class='form-inline' role="form" id='login' name='login' action='/login' method='get'>
        <fieldset>
            <div class='row username'>
                <div class="form-group col-xs-12 col-md-10 username">
                    <label for="username">Username: </label>
                    <input type="text" id="username" name='username' class="form-control" placeholder="i.e., anderson_j" >
                </div>
            </div>
            <div class='row password'>
                <div class="form-group col-xs-10 col-md-9">
                    <label for="username">Password: </label>
                    <input type="password" id="password" name='password' class="form-control" >
                </div> 
                <div class='form-group col-xs-2 col-md-2' id='login-btn'>
                    <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-log-in"></span> Log In</button>
                </div>
            </div>
            
        </fieldset>
    </form>