$def with (header, footer)
$:header

<div class="container">

  <div li style="border-bottom: groove 1px; padding: 15px 0px;">
    <img src="/images/boys-and-girls-club-logo.jpg" class="img-polaroid">
    <div class="row">
    <!-- thumbnail gallery-->
  	<div class="col-sm-6 col-md-3">
    	<a href="#" class="thumbnail">
      	<img data-src="holder.js/100%x180" alt="...">
    	</a>
  	</div>
</div>
  
  <h2 class="group inner list-group-item-heading">
        <a href="/">Program 1</a></h2>
        <address><strong>Neighborhood: West Oakland<br>1234 Oak Street</strong></address>

    	
         <ul class="list-inline">
		<li><a href="programinfo.html"><span class="glyphicon glyphicon-usd"></span> Price: </a></li>
    	<li><a href="/"><span class="glyphicon glyphicon-bookmark"></span> Save Program</a><li>
        </ul>
        <span class="glyphicon glyphicon-thumbs-up"><small> 43 Recommend This</small></span>
        <br>
        <br>
        <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus risus, ultrices vel vulputate sed, ultrices id velit. Nullam at hendrerit lectus. </p>
	<p class="group inner list-group-item-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus risus, ultrices vel vulputate sed, ultrices id velit. Nullam at hendrerit lectus. Morbi tincidunt vel lorem vitae convallis. Duis eu dui vitae nunc laoreet tincidunt in id massa. Ut varius vitae ante id dictum. Ut ultrices nunc ac orci malesuada, venenatis mattis dui tempor. Fusce lobortis aliquam est ac viverra. Vestibulum at gravida dolor. Mauris quis lectus sem. Praesent suscipit dui vel vestibulum laoreet. Sed sollicitudin dictum sagittis. Duis ut tristique felis.</p>
  </div>
  
  <div class="media">
  	<a class="pull-left" href="#">
    <img src="/images/staff.jpg" class="media-object" alt="staff">
  	</a>
   </div>
  <div class="media-body">
    <h4 class="media-heading">Kevin Knight<br>Program Coordinator</h4>
  </div>
  
 
</div>
  </div>
<p>
</p>

</div><!-- /.container -->

$:footer