$def with (header, footer, program, session, not_logged_in)
$:header
    <div class="container programinfo">
        <div class="col-xs-12 col-md-12">
            <div class="row" style="margin-top:25px;">
                <!--program name and address -->

                <h1 class="group inner list-group-item-heading">
                $program['name']</h1>

                <address>
                    <strong>Neighborhood: West Oakland<br>
                    $program['address']</strong>
                </address>
            </div><!--/h1 and address -->
        </div><!--/col-xs-12 col-md-12 -->

        <div id="program_media">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a data-toggle="tab" href=
                "#photos">Photos</a></li>

                <li><a data-toggle="tab" href="#map">Map</a></li>
            </ul>

            <div class="center-block">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="photos" style=
                    "margin: 15px 0;">
                        <div class="col-xs-12 col-md-8" id="main_photo">
                            <img alt="Program Photo" class="img-responsive"
                            src="/images/teens_blue.jpg" style=
                            "margin-bottom: 25px;">

                            <div class="row" style="margin-bottom: 25px;"><!--thumbnail -->
                                <a href="#main_photo"><img alt=
                                "Program Photo" src=
                                "http://dummyimage.com/64/64/fff.jpg"></a>
                                <a href="#main_photo"><img alt=
                                "Program Photo" src=
                                "http://dummyimage.com/64/64/fff.jpg"></a>
                                <a href="#main_photo"><img alt=
                                "Program Photo" src=
                                "http://dummyimage.com/64/64/fff.jpg"></a>
                                <a href="#main_photo"><img alt=
                                "Program Photo" src=
                                "http://dummyimage.com/64/64/fff.jpg"></a>
                            </div><!--/thumbnail row div -->
                        </div><!-- /main_photo-->

                        <div class="col-xs-12 col-md-4">
                            <div class="row">
                                <p class="stats">

                                    <!-- Recommend Program -->
                                        $if session == 'anonymous': 
                                              <span data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-thumbs-up recommend"></span>
                                              <small> <span class='rec_num'>$program['likes']</span> Recommend This</small>
                                              $:not_logged_in
                                        $else:
                                              <span class="glyphicon glyphicon-thumbs-up recommend"></span>
                                              <small> <span class='rec_num'>$program['likes'] </span> Recommend This</small>
                                              <span class='success'>+ 1!</span>
                                        <!-- End Recommend Program -->

                                </p>
                                <p class="stats"><strong>Category: </strong><span class="label label-default"> $program['categories']</span></p>
                               <p class="stats"><!--<span class="glyphicon glyphicon-usd"></span>--><strong> Price: </strong> 
																	$if program['cost'] == 0:
																	    Free 
																	$else:
																	    $$$program['cost']  
																																				
														</p>
                                <p class="stats"><span class="glyphicon glyphicon-calendar"></span><strong> Date & Time: </strong>
																	<br> <!-- Tuesdays & Thursdays<br> 6:00PM - 7:30PM <br>12/03/2013 - 01/14/2014 --> $program['time'] 
																	<br> $program['beg_date'] - $program['end_date']</p>             
                                <div class="btn-group btn-group-justified" style="padding-bottom: 10px;">

                                    <a class="btn btn-primary" role="button"><strong> Request Info </strong></a>
                                    $if session == 'anonymous':
                                        <a class="btn btn-primary" data-toggle="modal" data-target="#myModal" role="button">
                                            <span class="glyphicon glyphicon-bookmark"></span><strong> Save Program </strong>
                                        </a>
                                        $:not_logged_in
                                    $else:
                                        <a class="btn btn-primary" data-toggle="modal" data-target="#myModal" role="button">
                                            <span class="glyphicon glyphicon-bookmark"></span><strong> Save Program </strong>
                                        </a>
                                </div>

                             </div><!--/row-->
                        </div><!-- /col-xs-12 col-md-4-->
                    </div><!--/#photos-->

                    <div class="tab-pane fade" id="map" style=
                    "margin: 25px 0;">
                        <div class="col-xs-12 col-md-8">
                            <div class="row"><!--main map row div -->
                            <img alt="Responsive image" class="img-responsive"
                            src="/images/map_1.png" style=
                            "margin-bottom: 25px;"></div>
                        </div><!-- /main_photo-->

                        <div class="col-xs-12 col-md-4">
                          <div class="row">
                              <p class="stats"><a href="/"><span class="glyphicon glyphicon-thumbs-up"></a></span><strong> $program['likes'] Recommend This </strong></p>
                              <p class="stats"><strong>Category: </strong><span class="label label-default"> $program['categories']</span></p>
                             <p class="stats"><!--<span class="glyphicon glyphicon-usd"></span>--><strong> Price: </strong> 
																$if program['cost'] == 0:
																    Free 
																$else:
																    $$$program['cost']  
																																			
													</p>
                              <p class="stats"><span class="glyphicon glyphicon-calendar"></span><strong> Date & Time: </strong>
																<br> <!-- Tuesdays & Thursdays<br> 6:00PM - 7:30PM <br>12/03/2013 - 01/14/2014 --> $program['time'] 
																<br> $program['beg_date'] - $program['end_date']</p>             
                              <div class="btn-group btn-group-justified" style="padding-bottom: 10px;">

                                  <a class="btn btn-primary" role="button"><strong> Request Info </strong></a>
                                  <a class="btn btn-primary" role="button"><span class="glyphicon glyphicon-bookmark"></span><strong> Save Program </strong>
                                  </a>
                                  
                              </div>

                                <div class="stats">
                                    <strong>Directions</strong>

                                    <form>
                                        <fieldset>
                                            <div class="form-group">
                                                <div style=
                                                "padding-bottom:8px; padding-right:15px;">
                                                <label class="sr-only" for=
                                                "directions">Street
                                                Address</label>
                                                    <input class="form-control"
                                                    id="directions_start"
                                                    placeholder=
                                                    "Street Address" type=
                                                    "text">
                                                </div>

                                                <div style=
                                                "padding-bottom:8px; padding-right:15px;">
                                                <label class="sr-only" for=
                                                "directions">Destination</label>
                                                <input class="form-control"
                                                    id="directions_end"
                                                    placeholder=
                                                    "1234 Oak Street" type=
                                                    "text">
                                                </div><button class=
                                                "btn btn-primary" id=
                                                "directions" type=
                                                "submit">GO</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div><!--/directions -->
                            </div><!--/row -->
                        </div><!-- /col-xs-12 col-md-4-->
                    </div><!-- /map -->
                </div><!-- /tab-content -->
            </div><!-- /center-block-->
        </div><!-- /program_media -->
        <!--<p class="group inner list-group-item-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus risus, ultrices vel vulputate sed, ultrices id velit. Nullam at hendrerit lectus. Morbi tincidunt vel lorem vitae convallis. Duis eu dui vitae nunc laoreet tincidunt in id massa. Ut varius vitae ante id dictum. Ut ultrices nunc ac orci malesuada, venenatis mattis dui tempor.</p> -->

        <div class="col-xs-12 col-md-8">
            <div class="row">
                <p>$program['short_desc']</p>


                <div class="media">
                    $if 'contact_person' in program: <a class="pull-left" href="#"><img alt="staff" class="media-object" src="/images/staff.jpg"></a><div class="media-body"><h4 class="media-heading">$program['contact_person']</h4><p><strong>$program['contact_title']</strong><br>$program['contact_phone']</p>
                    </div><!--media body-->
                </div><!--media-->
            </div>
        </div><!-- wider column for program description-->
    </div><!--container-->


$:footer
